#separate-roll-log {
  position: fixed;
  bottom: 5px;
  right: 315px;
  width: 300px;
   min-height:200px;
   padding: 5.6px 0 0 0;
   background: url("../../../ui/denim075.png") repeat;
   background-color: black;
   display: grid;
   grid-template-columns: 16px auto;
   grid-template-rows: 16px auto;
   grid-template-areas:
    "expand-collapse title"
    "content content";
   font-size:0.8em;

 }
 #separate-roll-log .expand-btn{
  grid-area: expand-collapse;
 }
 #separate-roll-log .title{
   grid-area: title;
   text-align: right;
   padding-right: 5px;
 }
 #separate-roll-log .title, #separate-roll-log .expand-btn{
   border-bottom: 1px solid orange;
   padding-left: 5px;
 }
 #separate-roll-log .roll-content{
   grid-area: content;
   padding: 5px;
   height:178.4px;
   overflow-y: scroll;
 }
 #separate-roll-log .roll-content .roll{
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   justify-content:space-between;
   border-bottom: 1px solid gray;
 }
 #separate-roll-log .roll-content .roll.expandable{
   cursor: zoom-in;
 }
 #separate-roll-log .roll-content .roll.expand{
   cursor: zoom-out;
 }
 #separate-roll-log .roll-content .roll.whisper{
   color: teal;
 }
 #separate-roll-log .roll .whodidit {
   overflow: hidden;
   white-space: nowrap;
   max-width: 255px;
   text-overflow: ellipsis;
 }
 #separate-roll-log .roll.hiddenroll .whodidit {
   max-width: unset;
 }
 #separate-roll-log .roll.expand .whodidit {
   white-space: normal;
   max-width: unset;
 }
 #separate-roll-log .roll .diceresult{
   display: flex;
   flex-grow: 1;
   justify-content: flex-end;
   align-items: center;
 }
 #separate-roll-log .roll .result{
   color: gray;
   white-space:nowrap;
 }
 #separate-roll-log .roll .result a{
   margin-left: 0.25em;
   color: gray;
 }

 #separate-roll-log .timestamp{
  display:none;
 }
 #separate-roll-log.dynamic-timestamps .timestamp.dynamic{
  display:inline;
 }
 #separate-roll-log.short-timestamps .timestamp.short{
  display:inline;
 }
 
 /* Dice */
 
 #separate-roll-log .roll .dice{
   background-color: white;
   color: black;
   border-radius: 5px;
   padding: 5px;
   line-height: 1.5em;
   display: none;
 }
 #separate-roll-log .roll.expand .dice{
   display: inline-block;
   text-align: center;
   font-size: 1.2em;
 }
 #separate-roll-log .roll.expand:last-child .dice{
   font-size: 1.5em;
 }
 #separate-roll-log .roll .dice .die{
   min-width: 1.5em;
 }
 #separate-roll-log .roll .dice *{
   height: 1.5em;
   line-height: 1.5em;
   display: inline-block;
   text-align: center;
   font-size: 1em;
   background-size: 100%;
 }
 #separate-roll-log .roll .dice .discarded{
   text-decoration: line-through;
 }
 #separate-roll-log .roll .dice .die.max, #separate-roll-log .result.max{
   color: green;
 }
 #separate-roll-log .roll .dice .die.min, #separate-roll-log .result.min{
   color: red;
 }
 #separate-roll-log .roll.expand .result{
   display:none;
 }
 #separate-roll-log .roll.expand .dice .result{
   display:inline;
   color: black;
   font-weight: bold;
   border-left: 4px double black;
   padding-left: 0.5em;
 }
 
 #separate-roll-log .roll .dice .die.d4{
   background-image: url("../../../icons/svg/d4-grey.svg");
 }
 #separate-roll-log .roll .dice .die.d6{
   background-image: url("../../../icons/svg/d6-grey.svg");
 }
 #separate-roll-log .roll .dice .die.d8{
   background-image: url("../../../icons/svg/d8-grey.svg");
 }
 #separate-roll-log .roll .dice .die.d10{
   background-image: url("../../../icons/svg/d10-grey.svg");
 }
 #separate-roll-log .roll .dice .die.d12{
   background-image: url("../../../icons/svg/d12-grey.svg");
 }
 #separate-roll-log .roll .dice .die.d20{
   background-image: url("../../../icons/svg/d20-grey.svg");
 }

/* Roll log settings */
#separate-roll-log.show-settings {
   grid-template-columns: 16px auto;
   grid-template-rows: auto 16px auto;
   grid-template-areas:
    "settings settings"
    "expand-collapse title"
    "content content";
}
#separate-roll-log .roll-log-settings {
  display: none;
}
#separate-roll-log.show-settings .roll-log-settings{
  grid-area: settings;
  
  
  padding:5px;
  border-bottom: 1px solid orange;
  display: grid;
  grid-template-columns: auto auto;
  
  grid-gap: 1em 0.25em;
  align-items:center;
  
}
#separate-roll-log.show-settings .roll-log-settings h2{
  grid-column:1 / 3;
}
#separate-roll-log.show-settings .roll-log-settings h3{
  grid-column:1;
  margin:0;
}
#separate-roll-log.show-settings .roll-log-settings select,
#separate-roll-log.show-settings .roll-log-settings input {
  grid-column:2;
  border-radius:5px;
  margin: 0;
  padding: 0 0px 0 5px;
  border: 1px solid #aaa;
  box-sizing:border-box;
  min-height:2em;
  height:100%;
}
#separate-roll-log.show-settings .roll-log-settings select{
  background-color:white;
}