<div class="roll{{#if message.data.whisper.length}} whisper{{/if}} hiddenroll" data-message-id="{{message.id}}" data-user-id="{{message.user.id}}">
  <div class="whodidit">
    <span class="timestamp dynamic">[{{sepRollLogTimestampDynamic message.data.timestamp}}]</span>
    <span class="timestamp short">[{{sepRollLogTimestampShort message.data.timestamp}}]</span>
    <span class="actor" title="{{sepRollLogGetRollName message}}" style="color: {{message.user.color}}">{{sepRollLogGetRollName message}}</span>
    -
    <span class="flavor" title="{{sepRollLogGetRollName message}} rolled some hidden dice">Rolled some hidden dice!</span>
  </div>
  <div class="diceresult">
    <span class="dice" style="display:none;">
    	<span class="result"></span>
    </span>
    <span class="result">{{#if isGM}}<a class="button message-delete"><i class="fas fa-trash"></i></a>{{/if}}</span>
  </div>
</div>