<div class="roll{{#if message.data.whisper.length}} whisper{{/if}} {{#if (sepRollLogIsExpandable message)}}expandable{{/if}}" data-message-id="{{message.id}}" data-user-id="{{message.user.id}}" data-actor-alias="{{message.data.speaker.alias}}" data-filter-text="{{toLowerCase message.data.speaker.alias}} {{toLowerCase message.data.flavor}}">
  <div class="whodidit">
    <span class="timestamp dynamic">[{{sepRollLogTimestampDynamic message.data.timestamp}}]</span>
    <span class="timestamp short">[{{sepRollLogTimestampShort message.data.timestamp}}]</span>
    <span class="actor" title="{{message.user.name}}" style="color: {{message.user.color}}">{{sepRollLogGetRollName message}}</span>
    {{#if message.data.flavor}}
    -
    <span class="flavor" title="{{message.data.flavor}}">{{message.data.flavor}}</span>
    {{/if}}
  </div>
  <div class="diceresult">
    {{#if (sepRollLogIsExpandable message)}}
    <span class="dice">
    	{{#each message.roll.parts as |part j|}}
    	{{sepRollLogProcessRollPart part}}
    	{{/each}}
    	<span class="result {{sepRollLogCheckForMinMax message.roll}}">= {{message.roll.total}}</span>
    </span>
    {{/if}}
    <span class="result  {{sepRollLogCheckForMinMax message.roll}}">{{message.roll.total}}{{#if isGM}}<a class="button message-delete"><i class="fas fa-trash"></i></a>{{/if}}</span>
  </div>
</div>