<div id="separate-roll-log" class="app dynamic-timestamps" style="">


  <div class="roll-log-settings">    
    <h2>Filters:</h2>
    <h3>Filter rolls by person:</h3>
    <select name="userFilter">
      {{#each filterArrUsers as |user i|}}
      <option value="{{user.val}}">{{user.name}}</option>
      {{/each}}
    </select>
    <h3>Filter rolls for actor:</h3>
    <select name="actorFilter">
      {{#each filterArrActors as |actor i|}}
      <option value="{{actor.val}}">{{actor.name}}</option>
      {{/each}}
    </select>
    <h3>Filter rolls with text:</h3>
    <input name="textFilter" placeholder="Type a name or roll text">
  </div>

  <span class="title">Showing all rolls</span>
  <i class="fas fa-caret-up expand-btn"></i>
  <div class="roll-content">
  	
  	{{#each rollMessages as |m i|}}
  	{{#if m.visible}}
    	{{> public/modules/separate-roll-log/roll.html message=m isGM=../isGM}}
    {{else}}
    	{{> public/modules/separate-roll-log/hidden-roll.html message=m isGM=../isGM}}
    {{/if}}
    {{/each}}
    
    
  </div>
  
</div>